<mat-sidenav-container class="container">
  <mat-sidenav #sidenav mode="side" opened class="sidenav">
    <div style="display: flex; flex-direction: column; height: 99%">
      <div style="display: flex; justify-content: center">
        <img src="assets/bio-beacon-logo-long.png" alt="logo" height="80px" />
      </div>
      <div
        style="
          display: flex;
          justify-content: center;
          flex-direction: column;
          align-items: center;
          margin: 20px 0;
        "
      >
        <img
          src="assets/maximus.jpg"
          alt=""
          style="border-radius: 50%; height: 100px"
        />
        <p style="margin-bottom: 0">
          {{ userRole === "COACH" ? coach?.firstname : athlete?.firstname }}
          {{ userRole === "COACH" ? coach?.lastname : athlete?.lastname }}
        </p>
        <p style="margin: 0; font-size: 12px">
          {{ userRole === "COACH" ? coach?.email : athlete?.email }}
        </p>
      </div>
      <div
        style="display: flex; justify-content: center; flex-direction: column"
      >
        <button
          matSuffix
          mat-flat-button
          routerLink="/dashboard/edit-profile"
          routerLinkActive="active-route"
        >
          <mat-icon>person_outline</mat-icon>
          Profile
        </button>
        <button
          *ngIf="userRole === 'ATHLETE'"
          matSuffix
          mat-flat-button
          routerLink="/dashboard/sessions"
          routerLinkActive="active-route"
        >
          <mat-icon>event_note</mat-icon>
          Sessions
        </button>
        <button
          *ngIf="userRole === 'COACH'"
          matSuffix
          mat-flat-button
          routerLink="/dashboard/athletes"
          routerLinkActive="active-route"
        >
          <mat-icon> directions_run</mat-icon>
          Athletes
        </button>
        <button
          *ngIf="userRole == 'ADMIN'"
          matSuffix
          mat-flat-button
          routerLink="/dashboard/devices"
          routerLinkActive="active-route"
        >
          <mat-icon> tablet_android</mat-icon>
          Devices
        </button>
        <button matSuffix mat-flat-button routerLink="/about">
          <mat-icon>error_outline</mat-icon>
          About us
        </button>
        <button matSuffix mat-flat-button routerLink="/contact">
          <mat-icon>mail_outline</mat-icon>
          Contact us
        </button>
      </div>
      <div style="height: inherit"></div>
      <div style="width: 100%; display: flex; justify-content: center">
        <button
          matSuffix
          mat-flat-button
          routerLink="/contact"
          (click)="logout()"
        >
          <mat-icon>exit_to_app</mat-icon>
          Log out
        </button>
      </div>
      <p style="margin-bottom: 0; font-size: 12px; text-align: center">
        &copy; Bio Beacon. All Rights Reserved
      </p>
    </div>
<!--    <div style="display: flex; justify-content: center; flex-direction: column">-->
<!--      <button matSuffix mat-flat-button>-->
<!--        <mat-icon>person_outline</mat-icon>-->
<!--        Profile-->
<!--      </button>-->
<!--      <button-->
<!--        *ngIf="userRole === 'ATHLETE'"-->
<!--        matSuffix-->
<!--        mat-flat-button-->
<!--        routerLink="/dashboard/sessions"-->
<!--        routerLinkActive="active-route"-->
<!--      >-->
<!--        <mat-icon>event_note</mat-icon>-->
<!--        Sessions-->
<!--      </button>-->
<!--      <button-->
<!--        *ngIf="userRole === 'COACH'"-->
<!--        matSuffix-->
<!--        mat-flat-button-->
<!--        routerLink="/dashboard/athletes"-->
<!--        routerLinkActive="active-route"-->
<!--      >-->
<!--        <mat-icon> directions_run</mat-icon>-->
<!--        Athletes-->
<!--      </button>-->

<!--      <button-->
<!--        *ngIf="userRole == 'ADMIN'"-->
<!--        matSuffix-->
<!--        mat-flat-button-->
<!--        routerLink="/dashboard/coaches"-->
<!--        routerLinkActive="active-route"-->
<!--      >-->
<!--        <mat-icon>supervisor_account</mat-icon>-->
<!--        Coaches-->
<!--      </button>-->

<!--      <button-->
<!--        *ngIf="userRole == 'ADMIN'"-->
<!--        matSuffix-->
<!--        mat-flat-button-->
<!--        routerLink="/dashboard/athelets"-->
<!--        routerLinkActive="active-route"-->
<!--      >-->
<!--        <mat-icon> directions_run</mat-icon>-->
<!--        Athletes-->
<!--      </button>-->

<!--      <button-->
<!--        *ngIf="userRole == 'ADMIN'"-->
<!--        matSuffix-->
<!--        mat-flat-button-->
<!--        routerLink="/dashboard/devices"-->
<!--        routerLinkActive="active-route"-->
<!--      >-->
<!--        <mat-icon> tablet_android</mat-icon>-->
<!--        Devices-->
<!--      </button>-->

<!--      <button matSuffix mat-flat-button routerLink="/about">-->
<!--        <mat-icon>error_outline</mat-icon>-->
<!--        About us-->
<!--      </button>-->
<!--      <button matSuffix mat-flat-button routerLink="/contact">-->
<!--        <mat-icon>mail_outline</mat-icon>-->
<!--        Contact us-->
<!--      </button>-->
<!--    </div>-->
<!--    <div style="height: inherit"></div>-->
<!--    <div style="width: 100%; display: flex; justify-content: center">-->
<!--      <button-->
<!--        matSuffix-->
<!--        mat-flat-button-->
<!--        routerLink="/contact"-->
<!--        (click)="logout()"-->
<!--      >-->
<!--        <mat-icon>exit_to_app</mat-icon>-->
<!--        Log out-->
<!--      </button>-->
<!--    </div>-->
<!--    <p style="margin-bottom: 0; font-size: 12px; text-align: center">-->
<!--      &copy; Bio Beacon. All Rights Reserved-->
<!--    </p>-->
  </mat-sidenav>

  <mat-sidenav-content>
    <div style="margin: 0 0 20px 0">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
