.row-td {
  display: flex;
  height: 20px;
  justify-items: center;
  padding-top: 14px;
  justify-content: center;
  margin: 0;
  padding-left: 30px;
  padding-right: 30px;
}

.filler {
  background-color: #eccae7;
  border-radius: 5px;
  max-height: 5px;
  width: 400px;
}

.row-div {
  /*width: 50px;*/
  height: 5px;
  background-color: #9f4a9e;
  border-radius: 5px
}
#container{
  margin: 0 0 20px 0;
  background: #f6f6f6;
  box-shadow: 1px 1px 12px #d3d2d2;
  border-radius: 8px;
  padding: 10px;
  color: black;
  width: fit-content;
}
