<!-- Start - Hero Section -->
<div class="aboutpage-hero-section">
  <!-- <div class="aboutpage-hero-content-box">
    <div class="aboutpage-hero-content">
      <h1>Welcome to Bio Beacon</h1>
      <p>
        we believe that every athlete has the potential to achieve greatness.
        We're a team of passionate professionals who have dedicated our lives to
        developing the most innovative body area sensor network on the market.
        Our mission is to provide athletes of all levels with the tools they
        need to optimize their performance, reduce their risk of injuries, and
        reach their full potential. With Bio Beacon, you'll have access to
        real-time, data-driven insights that will revolutionize the way you
        train and compete. Whether you're a seasoned pro or just starting out,
        Bio Beacon is here to help you achieve your goals and take your athletic
        performance to the next level.
      </p>
      <p></p>
    </div>
  </div> -->
  <!-- <div class="aboutpage-hero-image-box"></div> -->

  <div class="aboutpage-hero-content-box">
    <h1 class="aboutpage-welcome-text-heading">Welcome to</h1>
    <h1 class="aboutpage-welcome-text-heading">Bio-Beacon</h1>
    <div class="aboutpage-hero-breif-text-box">
      <h4 class="aboutpage-hero-breif-text">
        We're a team of passionate professionals who have dedicated our lives to
        developing the most innovative body area sensor network on the market.
        With Bio Beacon, you'll have access to real-time, data-driven insights
        that will revolutionize the way you train and compete. Whether you're a
        seasoned pro or just starting out, Bio Beacon is here to help you
        achieve your goals and take your athletic performance to the next level.
      </h4>

      <img
        src="../../assets/bio-beacon-logo-white.png"
        alt="Bio-Beacon Logo"
        class="aboutpage-hero-image"
      />
    </div>
  </div>
</div>

<!--Features Section -->
<div class="aboutpage-features-section">
  <div class="aboutpage-features-wrapper">
    <p>Bio-Beacon is</p>
    <div class="aboutpage-features-words">
      <span>Faster</span>
      <span>Realiable</span>
      <span>Accurate</span>
      <span>Incredible</span>
      <span>Faster</span>
    </div>
  </div>
</div>
