<!-- Start - Hero Section -->
<div class="aboutpage-hero-section">
  <div class="aboutpage-hero-content-box">
    <h1 class="aboutpage-welcome-text-heading">Welcome to</h1>
    <h1 class="aboutpage-welcome-text-heading">Bio-Beacon</h1>
    <div class="aboutpage-hero-breif-text-box">
      <h4 class="aboutpage-hero-breif-text">
        We're a team of passionate professionals who have dedicated our lives to
        developing the most innovative body area sensor network on the market.
        With Bio Beacon, you'll have access to real-time, data-driven insights
        that will revolutionize the way you train and compete. Whether you're a
        seasoned pro or just starting out, Bio Beacon is here to help you
        achieve your goals and take your athletic performance to the next level.
      </h4>

      <img
        src="../../assets/bio-beacon-logo-white.png"
        alt="Bio-Beacon Logo"
        class="aboutpage-hero-image"
      />
    </div>
  </div>
</div>
<!-- End - Hero Section -->

<!--Start - Product Description Section -->
<div class="container">
  <div class="content-section">
    <!-- <div class="title">
      <h1>About Product</h1>
    </div> -->
    <div class="content">
      <!-- <h3>Lorem Ipsum</h3> -->
      <h4 class="aboutpage-hero-breif-text">
        Bio Beacon is the ultimate tool for athletes looking to optimize their
        performance and reduce their risk of injury. Our state-of-the-art
        wearable body area sensor network includes three devices that measure
        everything from body temperature and blood pressure to respiration rate
        and body movement. All this data is then analyzed and visualized in our
        web application and mobile app, giving athletes real-time insights into
        their workload and allowing them to adjust their training accordingly.
        With Bio Beacon, athletes can take control of their performance like
        never before.
      </h4>
      <!-- <div class="button">
        <a href="">Read More</a>
      </div> -->
    </div>
  </div>
  <div class="image-section">
    <img src="../../assets/dummy-image-01.jpg" alt="Product image">
  </div>
</div>
<!--End - Product Description Section -->

<!--Start - Features Section -->
<div class="aboutpage-features-section">
  <div class="aboutpage-features-wrapper">
    <p>Bio-Beacon is</p>
    <div class="aboutpage-features-words">
      <span>Faster</span>
      <span>Realiable</span>
      <span>Accurate</span>
      <span>Incredible</span>
      <span>Faster</span>
    </div>
  </div>
</div>
<!--End - Features Section -->
