*{
    padding: 0;
    margin: 0;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}

.aboutpage-hero-section{
    height: 100vh;
    width: 100%;
    background-image: url("../../assets/LeftBackground.jpg");
    background-size: cover;
    background-position:center;
}

/*Start-Sample 01*/

/* .aboutpage-hero-content-box{
    position: absolute;
    width: 50%;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: #fff;
    background-image: url("../../assets/LeftBackground.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.aboutpage-hero-content{
    width: 80%;
    position: absolute;
    text-align: center;
    color: #fff;
    top: 38%;
    transform: translateY(-50%);

    left: 50%;
    transform: translateX(-50%);
}

.aboutpage-hero-image-box{
    position: absolute;
    height: 100vh;
    width: 50%;
    top: 50%;
    left: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: #fff;
    background-color: #2D132C;
} */

/*End-Sample 01*/


/*Start-Sample 02*/


.aboutpage-hero-content-box{
    width: 40%;
    position: absolute;
    text-align: center;
    color: #ffffff;
    top: 8%;
    transform: translateY(-50%);

    left: 50%;
    transform: translateX(-50%);
}

.aboutpage-hero-image{
    width: 50%;
    margin-top: 5px;

}

.aboutpage-welcome-text-heading{
    font-size: 5rem;
}

.aboutpage-breif-text{
    line-height: 2rem;
}

/*End-Sample 02*/

/*Features Section*/
.aboutpage-features-section{
    height: 200px;
    width: 100%;
    background-color: #ffffff;
}

.aboutpage-features-wrapper{
    box-sizing: content-box;
    background-color: #ffffff;
    height: 120px;
    padding-top: 60px;
    display: flex;
    font-size: 60px;
    font-weight: 500;
    overflow: hidden;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    justify-content: center;
    
}

span{
    display: block;
    height: 100%;
    padding-left: 10px;
    color: #801336;
    animation: spin_words 6s infinite;
}

@keyframes spin_words {
    10%{
        transform: translateY(-108%);
    }
    25%{
        transform: translateY(-100%);
    }
    35%{
        transform: translateY(-208%);
    }
    50%{
        transform: translateY(-200%);
    }
    60%{
        transform: translateY(-308%);
    }
    75%{
        transform: translateY(-300%);
    }
    85%{
        transform: translateY(-418%);
    }
    100%{
        transform: translateY(-400%);
    }
}
