
.row {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    padding: 0 50px;
    box-shadow: 0 0 8px #e3e3e3;
    border-radius: 8px;
  }
  
  .column {
    float: left;
    text-align: center;
    display: flex;
    flex-direction: row;
  }
  
  .completed {
    color: #0fc164;
    font-size: 30px;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
  }
  
  .pending {
    color: #eab300;
    font-size: 30px;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
  }
  
  p {
    margin: 2px;
    font-family: Roboto, sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: #515151;
  }
  
  .time {
    color: #cc6784;
    font-size: 14px;
  }
  
  /* .column-btn {
    padding: 0;
    background: white;
    border: none;
    margin: 5px 0;
    width: 100%;
    cursor: pointer;
    font-size: 16px;
  }
  
  .column-btn :hover {
    background: rgba(241, 241, 241, 0.61);
    transition: 0.1s;
    transform: scale(1.02);
  }
  .column-btn :active {
    background: rgba(255, 255, 255, 0.61);
    transform: scale(1);
  }

  .button-container {
  display: flex;
  justify-content: space-around;
}

.custom-button {
  border-radius: 25px;
} */



/* .custom-button:hover {
  transform: scale(1.05);
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16), 0px 3px 6px rgba(0, 0, 0, 0.23);
}

@media screen and (max-width: 600px) {
  .button-container {
    flex-direction: column;
    align-items: center;
  }
} */


/*Action Buttons*/

.button-container {
  display: flex;
  justify-content: center;
  gap: 10px; 
}

.custom-button {
  border-radius: 25px;
}

/* Hover styles */
.custom-button:hover {
  transform: scale(1.05);
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16), 0px 3px 6px rgba(0, 0, 0, 0.23);
}

/* Responsive styles */
@media screen and (max-width: 600px) {
  .button-container {
    flex-direction: column;
    align-items: center;
  }
}

  