<div class="info">
  <button style="margin: 0" matSuffix mat-flat-button ><mat-icon>apps</mat-icon>
    Dashboard</button>
<h2>Session Details Placeholder</h2>
</div>
<div id="canvas">
<canvas chart baseChart class="chart"
        [data]="lineChartData"
        [options]="lineChartOptions"
        [type]="lineChartType"
        ></canvas>
  <canvas baseChart class="chart"
          [data]="lineChartData"
          [options]="lineChartOptions"
          [type]="lineChartType"
  ></canvas>
  <canvas baseChart class="chart"
          [data]="lineChartData"
          [options]="lineChartOptions"
          [type]="lineChartType"
  ></canvas>
</div>
