<div class="info">
  <button style="margin: 0" matSuffix mat-flat-button ><mat-icon>apps</mat-icon>
    Dashboard</button>

</div>
<div class="table">
  <div class="row">

    <div class="column">
      <p>Name</p>
    </div>

    <div class="column">
      <p  style="margin-left: 160px">Email</p>
    </div>

    <div class="column">
      <p>Gender</p>
    </div>

  </div>
  <app-athlete-row *ngFor="let athlete of athletes" [athlete]="athlete"
                   style="max-width: 1000px;height: 100%" routerLink="/dashboard/sessions"></app-athlete-row>
</div>
