<div class="info">
  <button style="margin: 0" matSuffix mat-flat-button><mat-icon>apps</mat-icon> Dashboard</button>
  <h2>Coach Details</h2>
  <div class="coach-details">
    <img src="assets/maximus.jpg" alt="Coach DP" class="coach-dp">
    <div class="details">
      <div class="column details-column">
        <p><strong>ID:</strong> 16432449</p>
        <p><strong>Name:</strong> John Doe</p>
        <p><strong>Gender:</strong> Male</p>
      </div>
      <div class="column details-column">
        <p><strong>Email:</strong> coach@biobeacon.com</p>
        <p><strong>Mobile:</strong> +94 79 234 5670</p>
        <p><strong>Address:</strong> 123, Hapugala, Galle, Sri Lanka</p>
      </div>
    </div>
  </div>
</div>


<div class="table">
  <div class="row">

    <div class="column table-column">
      <p>Name</p>
    </div>

    <div class="column table-column">
      <p  style="margin-left: 160px">Email</p>
    </div>

    <div class="column table-column">
      <p>Gender</p>
    </div>

  </div>
  <app-athlete-row *ngFor="let athlete of athletes" [athlete]="athlete"
                   style="max-width: 1000px;height: 100%" routerLink="/dashboard/sessions"></app-athlete-row>
</div>
