<div id="homepage-main-container">
  <div class="homepage-main-image-box">
    <img
      id="homepage-main-image"
      src="../../assets/bio-beacon-logo-white.png"
    />

    <div class="homepage-main-icon-below-text">
      <h3>The Ultimate Body Area Sensor Network for Athletes</h3>
    </div>

    <div class="container homepage-main-icon-box">
      <div class="homepage-sports-icons-container" style="margin-left: 0;"><fa-icon [icon]="faPersonSkiing"></fa-icon></div>
      <div class="homepage-sports-icons-container"><fa-icon [icon]="faPersonBiking"></fa-icon></div>
      <div class="homepage-sports-icons-container"><fa-icon [icon]="faPersonRunning"></fa-icon></div>
      <div class="homepage-sports-icons-container"><fa-icon [icon]="faPersonSkating"></fa-icon></div>
      <div class="homepage-sports-icons-container"><fa-icon [icon]="faPersonRunning"></fa-icon></div>
      <div class="homepage-sports-icons-container"><fa-icon [icon]="faPersonSwimming"></fa-icon></div>
    </div>
  </div>

  <div id="homepage-main-content-box">
    <div id="homepage-text-container">
      <h1>Maximize Your Athletic Performance with Bio Beacon</h1>
      <!-- <h3>The Ultimate Body Area Sensor Network for Athletes</h3> -->
      <!-- <br /> -->
      <p style="line-height: 2rem; text-align: justify;">Bio Beacon is the ultimate body area sensor network for athletes who want to optimize their performance and reduce the risk of injuries. Our cutting-edge IoT technology tracks your every move, providing accurate data in real-time that helps you make informed decisions about your training. With Bio Beacon, you'll be able to take your athletic performance to the next level and reach new heights in your sport.</p>
      <!-- <div id="buttons"> -->
      <button mat-raised-button class="homepage-about-button">
        About
      </button>
      <button mat-raised-button class="homepage-start-button">
        Start
      </button>
      <!-- </div> -->
    </div>
  </div>
  
</div>
