<div id="homepage-main-container">
  <div class="homepage-main-image-box">
    <img
      id="homepage-main-image"
      src="../../assets/bio-beacon-logo-white.png"
    />
  </div>

  <div id="homepage-main-content-box">
    <div id="homepage-text-container">
      <h2>Maximize Your Athletic Performance with Bio Beacon</h2>
      <h3>The Ultimate Body Area Sensor Network for Athletes</h3>
      <br />
      <!-- <div id="buttons"> -->
      <button mat-raised-button style="background-color: #801336; color: white">
        About
      </button>
      <button
        mat-raised-button
        style="background-color: #c72c41; color: white; margin-left: 10px"
      >
        Start
      </button>
      <!-- <div class="homepage-main-icon-box">
        <div class="homepage-sports-icons-container"><fa-icon [icon]="faYoutube"></fa-icon></div>
        <div class="homepage-sports-icons-container"><fa-icon [icon]="faYoutube"></fa-icon></div>
        <div class="homepage-sports-icons-container"><fa-icon [icon]="faYoutube"></fa-icon></div>
        <div class="homepage-sports-icons-container"><fa-icon [icon]="faYoutube"></fa-icon></div>
        <div class="homepage-sports-icons-container"><fa-icon [icon]="faYoutube"></fa-icon></div>
        <div class="homepage-sports-icons-container"><fa-icon [icon]="faYoutube"></fa-icon></div>
      </div> -->
      <!-- </div> -->
    </div>
  </div>
  
</div>
